<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr>

<button (click)="onToggle()">Display Detail</button>

<hr>

<p *ngIf="isDisplay">Secret passcode = nerd</p>

<exercise3-log-message *ngFor="let log of logs; let i = index" [logMsg]="log"></exercise3-log-message>

<hr>

<p>Child component exercise3-check-output has @Output emit event</p>

<exercise3-check-output
  (onCheckOutputChange)="callback($event)"
  (onButtonClickedEmitter)="checkChildComponentBtnClick($event)"
></exercise3-check-output>

<hr>

<p>Server gets the child component exercise3-check-output via @Output emitter</p>
<div>Value from child-component <br/>
  (which is populated in parent-component's callback($event) where @Output('onCheckOutputChange): <br/><br>
   {{ childComponentVal }}</div>

<hr>

<p>Server gets child component, via child-component's button click:</p>

<div>{{ childComponentValLong }}</div>

