<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr>

<button (click)="onToggle()" class="btn-primary">Display Detail (also kick off onChanges check on @Input)</button>

<hr>

<p *ngIf="isDisplay" #secretPwd>Secret passcode = nerd</p>

<hr>

<label for="ipt">Practice Template Local Variable.</label>

<input id="ipt" type="text" #input1>

<button (click)="useTemplateLocalVariable(input1)">Expose Template Local Variable</button>
<div>Expose the Template Local Variable: <b>{{ holdTemplateLocalVarVal }}</b></div>

<hr>


<p>Local Template variable accessed via @ViewChild </p>

<input type="text" #input2 (keyup)="checkInput()">

<div>accessed the template local variable via @ViewChild; the value is  : from keyup binding setting-->  {{ valTemplateLocalVariableViaViewChild }}</div>

<div>from ngOnInit --->  {{ valTemplateLocalVariableViaViewChild2 }}</div>

<hr>


<exercise3-log-message *ngFor="let log of logs; let i = index" [logMsg]="log"></exercise3-log-message>

<hr>

<p>Child component exercise3-check-output has @Output emit event</p>

<exercise3-check-output
  (onCheckOutputChange)="callback($event)"
  (onButtonClickedEmitter)="checkChildComponentBtnClick($event)"
  [fromParent]="logSomeInfo()"
></exercise3-check-output>

<hr>

<p>Server gets the child component exercise3-check-output via @Output emitter</p>
<div>Value from child-component <br/>
  (which is populated in parent-component's callback($event) where @Output('onCheckOutputChange): <br/><br>
   {{ childComponentVal }}</div>

<hr>

<p>Server gets child component, via child-component's button click:</p>

<div>{{ childComponentValLong }}</div>


<hr>

<div>DoCheck checking (fired a lot, whenever Angular tried to check for changes ...):  {{ doCheckInfo }}</div>

<hr>

<div>AfterContentInit :  {{ afterContentInitInfo }}</div>

<hr>

<div>AfterContentChecked : {{ afterContentCheckedInfo }}</div>

<hr>

<hr>

<!--
<div>AfterViewInit: {{ afterViewInitInfo }}</div>
-->

<hr>

<!--
<div>AfterViewChecked: {{ afterViewCheckedInfo }}</div>
-->

<hr>

<button class="btn-danger" (click)="destroyOneLogComponent()" [disabled]="logs.length === 0"
  title="disabled until some logs added.">Remove a log component (activate OnDestry)</button>

<div class="form-control">OnDestroy : {{ onDestroyInfo }}</div>

<br>

<br>

<hr>

